.superior {
  color: white;
  background-color: #e67c73;
}

.igual {
  color: white;
  background-color: #f3a96c;
}

.quinta {
  color: white;
  background-color: #ffd666;
}

.quarta {
  color: white;
  background-color: #d5cf6f;
}

.terceira {
  color: white;
  background-color: #abc878;
}

.segunda {
  color: white;
  background-color: #81c181;
}

.primeira {
  color: white;
  background-color: #57bb8a;
}
